In [24]:
import numpy as np
import pandas as pd
import random

In [6]:
file_path = 'people.csv'
df = pd.read_csv(file_path, encoding='utf-8')
df.head()

          Sales person SP ID     Team   Location
0         Barr Faughny  SP01  Yummies  Hyderabad
1  Dennison Crosswaite  SP02  Yummies  Hyderabad
2      Gunar Cockshoot  SP03  Yummies  Hyderabad
3       Wilone O'Kielt  SP04   Delish  Hyderabad
4         Gigi Bohling  SP05   Delish  Hyderabad

In [14]:

emails = []
names =  df['Sales person'].str.strip().str.replace(" ", "").str.lower()
for fname in names:
        email = fname[:10].strip() + '@example.com'
        emails.append(email)
        print(email)

barrfaughn@example.com
dennisoncr@example.com
gunarcocks@example.com
wiloneo'ki@example.com
gigibohlin@example.com
curticeadv@example.com
kainepadly@example.com
chesbonnel@example.com
andriakimp@example.com
brienboise@example.com
huseinauga@example.com
karlenmcca@example.com
janmorfort@example.com
dottystrut@example.com
kelciwalkd@example.com
marneyo'br@example.com
rafaelitab@example.com
madeleneup@example.com
beveriemof@example.com
obysorrel@example.com
malloriewa@example.com
jehurudefo@example.com
vantuxwell@example.com
roddyspeec@example.com
camillacas@example.com
janenehair@example.com
niallseles@example.com
eboneeroxb@example.com
zachpolon@example.com
ortonlivic@example.com
grayseamon@example.com
bennykarol@example.com
dynadoucet@example.com

In [22]:
countries = ["Romania", "Ungaria", "Portugalia", "UK", "Spania", "Grecia", "Rusia", "Olanda", "Norvegia", "Suedia"]

In [53]:
df['Country'] = [random.choice(countries) for _ in range(len(df))]
df['Email'] = emails
df.head(5)

,Sales person,SP ID,Team,Location,Country,Email
0,Barr Faughny,SP01,Yummies,Hyderabad,Grecia,barrfaughn@example.com
1,Dennison Crosswaite,SP02,Yummies,Hyderabad,Grecia,dennisoncr@example.com
2,Gunar Cockshoot,SP03,Yummies,Hyderabad,UK,gunarcocks@example.com
3,Wilone O'Kielt,SP04,Delish,Hyderabad,Romania,wiloneo'ki@example.com
4,Gigi Bohling,SP05,Delish,Hyderabad,Grecia,gigibohlin@example.com

In [18]:
from recombee_api_client.api_client import RecombeeClient
from recombee_api_client.api_requests import *

client = RecombeeClient('shop-ro-dev', 'IHEe1usNrKqpliHL73JkFPSiIu8DZEc3mvaZyznV458vmdVAb19ipjuD2zjA3d9o')

In [44]:
# Adaugare proprietati

#client.send(AddUserProperty('userName', 'string'))
client.send(AddUserProperty('country', 'string'))
#lient.send(AddUserProperty('upId', 'string'))
client.send(AddUserProperty('team', 'string'))
client.send(AddUserProperty('location', 'string'))
client.send(AddUserProperty('email', 'string'))

'ok'

In [51]:
client.send(DeleteUserProperty('userName'))
#client.send(DeleteUserProperty('team'))
#client.send(DeleteUserProperty('location'))
#client.send(DeleteUserProperty('email'))
#client.send(DeleteUserProperty('country'))

'ok'

In [54]:
import time
for index, row in df.iterrows():
    values = {
        'Name': row['Sales person'],
        'team': row['Team'],
        'email':row['Email'],
        'location': row['Location'],
        'country': row['Country']
    }
    client.send(SetUserValues(row['SP ID'], values, cascade_create=True))

In [52]:
# Delete elements
user_ids = client.send(ListUsers())

for user_id in user_ids:
    client.send(DeleteUser(user_id))